*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.main_container{
    width:100vw;
    height:100vh;
    font-family: 'Praise', cursive;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(145deg,rgb(38, 129, 247),rgb(177, 238, 247),white);
}
.about_section{
    width:100vw;
    
    position: absolute;
    top:20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text{
    padding: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}
.about{
    
    font-family: 'Praise', cursive;
    /*background-color: rgb(28, 196, 247);*/
    border-radius: 20px;
    font-size: 2rem;
    box-shadow: black;
    padding:.5em;
    box-shadow: 5px 7px 10px #3c77af;
    
}
.about:hover{
           transform: scale(1.1);
           background-color: rgb(38, 129, 247);
}
a{
    text-decoration: none;
    color:black;

}